$yellow: #ffd700

.artworks-list
  .uk-navbar-left
    justify-content: space-between

  td
    &.published
      &:hover
        cursor: pointer

  .star
    width: 45px
    height: 45px
    fill: white
    stroke: $yellow

    &.published
      fill: $yellow
